html, body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif !important;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
}

h1 {
  line-height: 3rem;
}

p {
  color: #777777;
  line-height: 1.85rem;
}

/* Ligipääsetavuse jaoks on vaja see ära muuta.*/
*:focus {
    outline: none;
}
