.header-container {
  filter: drop-shadow(0px 10px 30px rgba(0,0,0,0.3));
  -webkit-filter: drop-shadow(0px 10px 30px rgba(0,0,0,0.3));
  -moz-filter: drop-shadow(0px 10px 30px rgba(0,0,0,0.3));

  clip-path: polygon(0 0, 100% 0, 100% 150%, 0% 150%)
}

header {
  padding-top: 10rem;
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  clip-path: ellipse(125% 90% at 50% 0%);
  background-color: black;
}

/* Peida logo SVG lehelt. */
header svg {
  position: absolute;
  width: 0;
  height: 0;
}

header video {
  width: 50rem;
  height: auto;
  clip-path: url(#logo-clip);

  filter: blur(5px);
}

.container {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.5fr 0.25fr;
  grid-template-areas: '. main aside .';
  grid-column-gap: 2rem;

  margin-bottom: 10rem;
}

main {
  grid-area: main;
}

main p {
  color: #999999;
  margin-bottom: 3rem;
}

main form {
  grid-area: content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 2.5rem;
}

main form button {
  margin-top: 3rem;
  margin-left: 0;
}

main form input[type=text] {
  margin-top: 1.5rem;
}

aside {
  grid-area: aside;
  width: 100%;
  height: 100%;
  background-image: url('/media/home-party.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75rem;
}
