.header-container {
  filter: drop-shadow(0px 10px 30px rgba(0,0,0,0.3));
  -webkit-filter: drop-shadow(0px 10px 30px rgba(0,0,0,0.3));
  -moz-filter: drop-shadow(0px 10px 30px rgba(0,0,0,0.3));

  clip-path: polygon(0 0, 100% 0, 100% 150%, 0% 150%)
}

header {
  margin-bottom: 4rem;

  padding-top: 12rem;
  padding-bottom: 17rem;
  padding-left: 30rem;
  padding-right: 30rem;

  display: grid;
  grid-template-columns: 1.1fr 0.9fr;

  clip-path: ellipse(125% 90% at 50% 0%);
  background-color: black;
}

header .video-container {
  grid-column: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* Peida logo SVG lehelt. */
header svg {
  position: absolute;
  width: 0;
  height: 0;
}

header video {
  width: 100%;
  height: auto;
  clip-path: url(#logo-clip);

  filter: blur(5px);
}

main {
  grid-area: main;
}

header .content {
  grid-column: 1;
}

header .content h1 {
  color: white;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

header .content p {
  color: #e8e8e8;
  margin-bottom: 6.5rem;
}

header .content form {
  grid-area: content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 5rem;
}

header .content form button {
  margin-top: 8rem;
  margin-left: 0;
}

aside {
  grid-area: aside;
  width: 100%;
  height: 100%;
  background-image: url('/media/home-party.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75rem;
}
