main {
  padding-top: 3rem;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;

  max-width: 65rem;
}

main .inputs {
  grid-area: content;
  display: flex;
  justify-content: center;

  margin-bottom: 3rem;
}

.inputs input[type=text]{
  width: 10rem;
  text-transform: none;
}

.inputs input[type=text]:not(:first-of-type) {
  margin-left: 1rem;
}

main .email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email-preview {
  display: flex;
  flex-direction: column;

  max-width: 30rem;
  text-transform: none;
  font-weight: 700;

  border: 3px solid black;

  white-space: pre-wrap;
}

main a.button {
  margin-top: 3rem;
}

.email-preview .email-header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  grid-row-gap: 0.75rem;

  padding: 1.5rem 2rem;
  border-bottom: 3px solid black;
}

.email-preview .email-content {
  padding: 1.5rem 2rem;
}
