body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'nav' 'content' 'footer';
}

nav {
  grid-area: nav;
}

span.placeholder {
  color: #007CF0
}

.container {
  grid-area: content;
  display: grid;
  height: 100%;

  grid-template-areas: 'aside main';
  margin-bottom: auto;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
}

aside a.button {
  padding: 1rem;

  transition: all 150ms ease-out;

  -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,200,0.5);
  -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,200,0.5);
  box-shadow: 0px 0px 30px -5px rgba(0,0,200,0.5);
}

aside a.button span {
  margin: 0;
  transition: transform 150ms ease-out;
}

aside a.button:hover {
  -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,200,1);
  -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,200,1);
  box-shadow: 0px 0px 30px -5px rgba(0,0,200,1);
}

aside a.button:hover span {
  margin: 0;
  transform: scale(1.25) rotate(180deg);
}

aside h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
  color: white;

  max-width: 65rem;
}

aside h1 span.prefix {
  color: #007CF0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .form {
  border-radius: 0.75rem;

  -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,100,0.3);
  -moz-box-shadow: 0px 10px 30px -10px rgba(0,0,100,0.3);
  box-shadow: 0px 10px 30px -10px rgba(0,0,100,0.3);
}

main .inputs {
  padding-bottom: 3rem;
}

main .inputs > div {
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs > div input[type=text] {
  display: block;
  width: 50%;
}

.inputs > div input[type=text]:first-of-type {
  margin-right: 1rem;
}

.inputs > div input[type=text]:last-of-type {
  margin-left: 1rem;
}

.inputs > input[type=text].inline {
  display: block;
  width: 100%;
}

main input[type=text].inline{
  text-transform: none;
  border-bottom-color: #008CF0;
}

main .email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email-preview {
  display: flex;
  flex-direction: column;

  text-transform: none;
  font-weight: 500;

  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;

  white-space: pre-wrap;
}

main a.button {
  margin-top: 3rem;
  margin-bottom: 0rem;
}

.email-preview input[type=text].inline {
  margin-bottom: 2rem;
  padding-left: 0rem;

  display: block;
  width: 100%;
}

.email-preview .email-content {
  padding: 3rem 3rem;
  padding-top: 1.5rem;
}

.email-preview p {
  color: black;
}

p#email-preview {
  font-weight: 500;
  max-width: 30rem;
}

footer {
  grid-area: footer;
}

@media (min-width: 2000px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  aside {
    padding-left: 15rem;
    padding-right: 10rem;
  }

  main {
    padding-right: 15rem;
    padding-left: 10rem;
  }

  main .form {
    padding: 3rem 5rem;
  }

  .email-preview {
    padding: 2rem 5rem;
  }

  main .email {
    margin-left: -5rem;
    margin-right: -5rem;
  }
}

@media (max-width: 2000px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  aside {
    padding-left: 15rem;
    padding-right: 10rem;
  }

  main {
    padding-right: 15rem;
    padding-left: 10rem;
  }

  main .form {
    padding: 3rem 2.5rem;
  }

  .email-preview {
    padding: 2rem 2.5rem;
  }

  main .email {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }

  nav .logo {
    padding-left: 15rem;
  }

  nav .menu-desktop {
    padding-right: 15rem;
  }

  .menu-desktop li:not(:last-of-type) {
    margin-right: 5rem;
  }
}

@media (max-width: 1750px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  aside {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  main {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  main .form {
    padding: 3rem 2.5rem;
  }

  .email-preview {
    padding: 2rem 2.5rem;
  }

  main .email {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }

  nav .logo {
    padding-left: 5rem;
  }

  nav .menu-desktop {
    padding-right: 5rem;
  }

  .menu-desktop li:not(:last-of-type) {
    margin-right: 4rem;
  }
}

@media (max-width: 1440px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  aside {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  main {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  main .form {
    padding: 3rem 1.5rem;
  }

  .email-preview {
    padding: 2rem 1.5rem;
  }

  main .email {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  nav .logo {
    padding-left: 2.5rem;
  }

  nav .menu-desktop {
    padding-right: 2.5rem;
  }

  .menu-desktop li:not(:last-of-type) {
    margin-right: 3rem;
  }
}
